.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100100;
}
.modal-inner {
  width: 500px;
  height: 200px;
  border-radius: 10px;

  background: #fff;
}
.modal-header {
  margin: 0 auto;
  width: 100%;
  height: 50px;

  background: #d8dae3;
  border-radius: 10px;
}
.modal-contain {
}
.modal-text {
}
.modal-button {
}
