header {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #242733;
}
.header-inner {
  height: 80px;
  width: 100%;
  max-width: 100%;
}
.header-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.header-list .header-user-name {
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  /* position: relative; */
  margin-right: 35px;
}
.header-user-name span {
  margin-right: 10px;
  font-weight: bold;

  color: #fff;
}
.header-list .header-user-name::after {
  /* position: absolute; */
}
.search-box {
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
  /* transition 할때 width 제거 후 아래 active활용 */
  width: 250px;
}
.search-box-active {
  width: 250px !important;
}
.search-text {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #cacaca;
  outline: none;
}
.header-list .header-search svg {
  color: #fff;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 10px;
}
.header-list .header-search svg:hover {
  border: 1px solid #4f546e;
  border-radius: 10px;
}
.header-list .header-menu svg {
  display: block;
  color: #fff;
  width: 28px;
  height: 28px;
  cursor: pointer;

  margin-right: 35px;
}
.header-list .header-menu svg:hover {
  border: 1px solid #4f546e;
  border-radius: 10px;
}

.header-more {
  position: absolute;
  top: 60px;
  right: 420px;
  background-color: #fff;
  width: 0;
  height: 0;
  overflow: hidden;
  /* border-left: 1px solid #d8dae3; */

  z-index: 1;
}
/* 더보기 눌렀을때 마이페잊,로그아웃 open */
.header-more-open {
  width: 120px;
  border: 1px solid #d8dae3;
  height: 70px;
  transition: height 0.2s ease-in;
}
.header-my {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;

  border-bottom: 1px solid #d8dae3;
  cursor: pointer;
}
.header-my:hover {
  background-color: #bbbece;
}
.header-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}
.header-logout:hover {
  background-color: #bbbece;
}
